@model IEnumerable<STTEWebApp.Models.Student>

@{
    ViewData["Title"] = "Student";
}

<h1>Student</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.S_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.S_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.S_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.S_ID  })
            </td>
        </tr>
}
    </tbody>
</table>
